@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "addington-bold";
  src: url("/assets/fonts/AddingtonCF-Bold.ttf");
}

.addington-bold {
  font-family: "addington-bold";
}

@font-face {
  font-family: "addington-regular";
  src: url("/assets/fonts/AddingtonCF-Regular.ttf");
}

.addington-regular {
  font-family: "addington-regular";
}

@font-face {
  font-family: "addington-medium";
  src: url("/assets/fonts/AddingtonCF-Medium.ttf");
}

.addington-medium {
  font-family: "addington-medium";
}

@font-face {
  font-family: "atvik-semibold";
  src: url("/assets/fonts/AktivGrotesk-Black.ttf");
}

.atvik-semibold {
  font-family: "atvik-semibold";
}
.test {
  background-image: url("/assets/images/global/bg-global.png");
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.box-shadow-execution {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.opportunities-box {
  /* background: #242424; */
  box-shadow: 0px -6px 54px rgba(0, 0, 0, 0.51);
}

.card {
  width: 380px;
  height: 480px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  background: url("/assets/images/members/members-test.png");
  background-size: cover;
  background-position: center;
}

/* This is desktop ⬇️ */

@media only screen and (min-width: 1000px) {
  .content {
    width: 100%;
    padding: 15px 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    transform: translateY(80%);
    transition: all 1s ease;
    backdrop-filter: blur(10.2px);
  }

  .card:hover .content {
    transform: translateY(0);
  }
}

/* This is mobile ⬇️ */

@media only screen and (max-width: 1000px) {
  .card {
    width: 320px;
    height: 540px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    background: url("/assets/images/members/members-test.png");
    background-size: cover;
    background-position: center;
  }

  .content {
    width: 100%;
    padding: 15px 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    transform: translateY(2%);
    transition: all 1s ease;
    backdrop-filter: blur(10.2px);
  }
}

.curtain-div {
  background: linear-gradient(
    180deg,
    #fb8121 0%,
    #a75718 41.7%,
    #292624 83.25%
  );
  box-shadow: 8px 0px 24px rgba(36, 36, 36, 0.32);
}

@media only screen and (min-width: 1000px) {
  .theater-bg {
    background-image: url("/assets/images/theater/theater-bg.png");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* This is mobile ⬇️ */

@media only screen and (max-width: 1000px) {
  .theater-bg {
    background-image: url("/assets/images/theater/theater-mob.png");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.v2 {
  background-image: url("/assets/images/global/v2.png");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}
